<h1>Ligi</h1>
<div>
    <form novalidate class="simple-form">
        <p>Dodawanie nowej ligi</p><br/>
        <input ng-class="vm.nazwaErr" type="text" ng-model="vm.entry.nazwa" placeholder="Nazwa"/><br/>
        <input type="submit" ng-click="vm.add(vm.entry)" value="Dodaj"/>
        <br/><br/><div class="errorMsg">{{vm.error}}</div><br/>
    </form>
</div>
<br/>
<div ng-show="vm.showEdit">
    <form novalidate class="simple-form">
        <p>Edytowanie ligi</p><br/>
        <label>Nazwa: <input ng-class="vm.nazwaErr2" type="text" ng-model="vm.edited.nazwa"/></label><br/>
        <input type="submit" ng-click="vm.update(vm.edited)" value="Zaktualizuj"/> <a ng-click="vm.showEdit=false">&#10006;</a>
        <br/><br/><div class="errorMsg">{{vm.error2}}</div><br/>
    </form>
</div>
<br/>
<br/>
<div ui-grid="vm.grid" ui-grid-edit class="grid"></div>