<h1>Sponsorzy</h1>
<div>
    <form novalidate class="simple-form">
        <p>Dodawanie nowego sponsora</p><br/>
        <input ng-class="nazwaErr" type="text" ng-model="entry.nazwa" placeholder="Nazwa"/><br/>
        <input ng-class="rodzajErr" type="text" ng-model="entry.rodzaj" placeholder="Rodzaj"/><br/>
        <label>Druzyna:
            <select ng-class="druzynaErr" ng-model="entry.druzyna">
                <option ng-repeat="option in druzyny" value="{{option.id}}">{{option.nazwa}}</option>
            </select>
        </label><br/>
        <input type="submit" ng-click="add(entry)" value="Dodaj"/>
        <br/><br/><div class="errorMsg">{{error}}</div><br/>
    </form>
</div>
<br/>
<div ng-show="showEdit">
    <form novalidate class="simple-form">
        <p>Edytowanie sponsora</p><br/>
        <label>Nazwa: <input ng-class="nazwaErr2" type="text" ng-model="edited.nazwa" placeholder=""/></label><br/>
        <label>Rodzaj: <input ng-class="rodzajErr2" type="text" ng-model="edited.rodzaj"/></label><br/>
        <label>
            Druzyna:
            <select ng-class="druzynaErr2" ng-options="item.nazwa for item in druzyny" ng-model="druzyny.selected"></select>
        </label><br/>
        <input type="submit" ng-click="update(edited)" value="Zaktualizuj"/> <a ng-click="showEdit=false">&#10006;</a>
        <br/><br/><div class="errorMsg">{{error2}}</div><br/>
    </form>
</div>
<br/>
<br/>
<div ui-grid="grid" ui-grid-edit class="grid"></div>