<h1>Mecze</h1>
<div>
    <form novalidate class="simple-form">
        <h3>Dodawanie nowego meczu</h3><br/>

        <label>Boisko:
            <select ng-model="entry.boisko">
                <option ng-repeat="option in boiska" value="{{option.id}}">{{option.nazwa}}</option>
            </select>
        </label><br/>

        <label>
            Cena biletu: <input type="number" ng-model="entry.cenaBiletu" placeholder="Cena biletu"/><br/>
        </label>
        <input type="date" ng-model="entry.data" placeholder="Data"/><br/>

        <label>Gospodarz:
            <select ng-model="entry.gospodarz">
                <option ng-repeat="option in druzyny" value="{{option.id}}">{{option.nazwa}}</option>
            </select>
        </label><br/>

        <input type="text" ng-model="entry.wynikMeczu" placeholder="Wynik meczu"/><br/>

        <label>Przyjezdni:
            <select ng-model="entry.przyjezdni">
                <option ng-repeat="option in druzyny" value="{{option.id}}">{{option.nazwa}}</option>
            </select>
        </label><br/>

        <input type="submit" ng-click="add(entry)" value="Dodaj"/>
    </form>
</div>
<br/>
<div ng-show="showEdit">
    <form novalidate class="simple-form">
        <h3>Edycja meczu</h3>
        <label>
            Boisko:
            <select ng-options="item.nazwa for item in boiska" ng-model="boiska.selected"></select>
        </label><br/>

        <label>Cena biletu: <input type="number" ng-model="edited.cenaBiletu"/></label><br/>
        <label>Data meczu: <input type="date" ng-model="edited.data"/></label><br/>

        <label>
            Gospodarze:
            <select ng-options="item.nazwa for item in druzyny" ng-model="druzyny.gospodarz"></select>
        </label><br/>

        <label>Wynik meczu: <input type="text" ng-model="edited.wynikMeczu"/></label><br/>

        <label>
            Przyjezdni:
            <select ng-options="item.nazwa for item in druzyny" ng-model="druzyny.przyjezdni"></select>
        </label><br/>
        <input type="submit" ng-click="update(edited)" value="Zaktualizuj"/> <a ng-click="showEdit=false">&#10006;</a>
    </form>
</div>
<br/>
<br/>
<div ui-grid="grid" ui-grid-edit class="grid"></div>