<h1>Bilety</h1>
<div>
    <form novalidate class="simple-form">
        <p>Dodawanie nowego biletu</p><br/>

        <label>Mecz:
            <select ng-class="meczErr" ng-model="entry.mecz">
                <option ng-repeat="option in mecze" value="{{option.id}}">{{getMecz(option.id)}}</option>
            </select>
        </label><br/>

        <label>Kibic:
            <select ng-class="kibicErr" ng-model="entry.kibic">
                <option ng-repeat="option in kibice" value="{{option.id}}">{{option.imie+' '+option.nazwisko}}</option>
            </select>
        </label><br/>

        <label>Zniżka: <input type="number" ng-model="entry.znizka"/><br/></label>

        <input type="submit" ng-click="add(entry)" value="Dodaj"/>
        <br/><br/><div class="errorMsg">{{error}}</div><br/>
    </form>
</div>
<br/>
<!--<div ng-hide="!showEdit" ng-show="showEdit">-->
<div ng-show="showEdit">
    <form novalidate class="simple-form">
        <p>Edycja biletu</p><br/>

        <label>Mecz:
            <select ng-class="meczErr2" ng-options="getMecz(item.id) for item in mecze" ng-model="mecze.selected"></select>
        </label>

        <label>Zniżka: <input type="number" ng-model="edited.znizka"/><br/></label>

        <label>Kibic:
            <select ng-class="kibicErr2" ng-options="getKibic(item) for item in kibice" ng-model="kibice.selected"></select>
        </label>

        <input type="submit" ng-click="update(edited)" value="Zaktualizuj"/> <a ng-click="showEdit=false">&#10006;</a>
        <br/><br/><div class="errorMsg">{{error2}}</div><br/>
    </form>

</div>
<br/>
<br/>
<div ui-grid="grid" ui-grid-edit class="grid"></div>